<div ng-include="'./views/partial/doctor/navbar.html'"></div>
<div class="py-20">
    <div class="flex sm:flex-row flex-col justify-evenly">
        <div class="py-5 px-10 md:w-1/5 m-5 border-black rounded-lg border">
            <div class="m-5 text-center">Appointments</div>
            <div class="m-5 text-center">5</div>
        </div>
        <div class="py-5 px-10 md:w-1/5 m-5 border-black rounded-lg border">
            <div class="m-5 text-center">Appointments</div>
            <div class="m-5 text-center">5</div>
        </div>
        <div class="py-5 px-10 md:w-1/5 m-5 border-black rounded-lg border">
            <div class="m-5 text-center">Appointments</div>
            <div class="m-5 text-center">5</div>
        </div>
    </div>
</div>
